.defaultStyle {
    padding: 10px 15px;
    margin-bottom: 1rem;
}

.alertStyle {
    background-color: #f8d7da;
    color: #721c24;
    border: #f5c6cb solid 1px;
}

.primaryStyle {
    background-color: #cce5ff;
    color: #004085;
    border: #b8daff solid 1px;
}

.successStyle {
    background-color: #d4edda;
    color: #155724;
    border: #c3e6cb solid 1px;
}