.archiveSidebar {
  flex: none;
  width: 300px;
}

.sidebarElement {
  box-shadow: 0 2px 5px #000;
  border-top: 4px solid #232628;
  padding: 27px 30px 20px;
  margin-bottom: 34px;

  h3 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    margin-bottom: 15px;
    margin-top: 0;
  }
}

.searchForm {
  input {
    border-radius: 0;
  }
  button {
    margin-top: 15px;
  }
}

.categories {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 10px;

      a {
        font-size: 14px;
        font-family: Montserrat,Open sans,sans-serif;
        display: block;
        text-decoration: none;
        color: #232628;

        &:before {
          content: "\f0da";
          font-family: Font Awesome\ 5 Free,sans-serif;
          font-weight: 900;
          display: inline-block;
          margin-right: 5px;
          color: #aaa;
        }
      }
    }
  }
}
