@import "../utils/Variables", "../utils/Mixins";
.archiveContent {
  flex-grow: 1;
  padding-left: 20px;
}

.archiveCarCount {
  h3 {
    margin: 0;
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 0;
    border-bottom: 1px solid #d3d3d3;
    text-transform: uppercase;

    span {
      font-size: 22px;
      color: $primaryLight;
    }
  }
}

.archiveLoading {
  display: flex;
  align-items: center;

  span {
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
    color: $primary;
  }
}

.cars {

}

.car {
  padding: 20px 0;
  border-bottom: 1px solid #d3d3d3;
  display: flex;
}

.carThumbnail {
  flex: none;
  display: flex;
  align-items: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.carCharacteristics {
  padding: 0 30px;
  flex-grow: 1;

  h2 {
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
  }
}

.carMetas {
  display: flex;
  flex-wrap: wrap
}

.carMeta {
  text-align: center;
  flex: 1 0 33.33%;
  border-left: 1px solid #eee;
  margin-top: 10px;
  padding: 0 10px;

  &:first-child {
    border-left: none;
  }
}

.metaIcon {

}

.metaName {
  font-size: 10px;
  text-transform: uppercase;
  color: #888;
}

.metaValue {
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;
  padding: 5px 0;
  text-align: cent
}

.carPrice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: none;
}

.priceInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #47a8dc;
  color: #fff;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.bookingLink {
  text-decoration: none;
  margin-top: 0;
  border: 2px solid transparent;
  background-color: #ebe9eb;
  color: #515151;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  @extend .animate;
}
