.bookingSummary {
    color: #666;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #DDD;
    padding: 10px 0;

    &:last-child {
        border-bottom: none;
    }
}

.bookingSummaryValue {
    font-weight: 900;
}

.bookingSummaryTotal {
    color: #000;
    border-top: 2px solid #000;
    font-weight: 900;
}

.bookingSummaryValueTotal {
    color: #000;
}