@import "../utils/Variables";

.contact {
  padding: 40px 0;
}

.contactMap {

}

.sendButton {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border: 1px solid $primary;
  padding: 5px 30px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  color: #fff;
  background-color: $primary;
  cursor: pointer;
}
