@import "../utils/Mixins", "../utils/Variables";

/** TOP HEADER*/

.topHeader {
    background-color: #000;
    color: #AAA;
    padding: 10px 0;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: flex-end;

        li {
            margin-left: 10px;
            font-size: 11px;
            text-transform: uppercase;

            i {
                font-size: 14px;
            }
        }
    }
}

/* CENTER HEADER **/
.centerHeader {
    padding: 25px 0;
}

.centerHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.siteLogo {
    a {
        display: block;
    }
}

.siteInfo {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        li {
            display: flex;
            align-items: center;
            margin-left: 25px;

            i {
                color: $primaryLight;
                font-size: 33px;
                margin-right: 10px;
            }
        }
    }
}

.siteInfoTitle {
    font-family: 'Montserrat', 'Open sans', sans-serif;
    color: $primaryLight;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
}

.siteInfoValue {
    font-family: 'Montserrat', 'Open sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
}

/** NAVBAR */
.navbar {
    box-shadow: 0 0 4px rgb(0 0 0 / 40%);
    background: rgba(234, 237, 240, 0.8);
}

.normalLink {
    color: black;

    &:hover {
        @extend .activeLink;
    }
}

.activeLink {
    & > a {
        background-color: $primaryLight;
        color: white !important;
    }
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    & > li {
        position: relative;

        & > a {
            color: #232628;
            padding: 15px 20px;
            font-family: "Montserrat", sans-serif;
            font-size: 13px;
            text-transform: uppercase;
            font-weight: bold;
            text-decoration: none;
            display: block;
            @extend .animate;
        }

        &:hover {
            ul {
                opacity: 1;
                @include browserCss(transform, translateY(0));
                visibility: visible;
            }
        }

        &:last-child {
            margin-left: auto;

            a {
                &::after {
                    font-family: 'stm-icon', serif !important;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    content: "\e80a";
                    font-size: 16px;
                    position: relative;
                    left: 5px;
                    top: 2.5px;
                }
            }
        }
    }
}

.subMenu {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: calc(100% - 2px);
    background-color: #fff;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
    width: 250px;
    opacity: 0;
    visibility: collapse;
    @include browserCss(transform, translateY(20px));
    @extend .animate;

    li {
        a {
            color: #232628;
            padding: 15px 20px;
            font-family: "Montserrat", sans-serif;
            font-size: 13px;
            text-decoration: none;
            display: block;
            @extend .animate;

            &:hover {
                background-color: $primaryLight;
                color: white;
                padding-left: 25px;
            }
        }
    }
}
