@import "../utils/Variables";

/**
  SLIDER
 */
.slider {
  height: calc(100vh - 210px);
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

/**
  SPECIALITY
 */
.speciality {
  padding: 0;
  background-color: $primary;
}

.specialityContainer {
  display: flex;
}

.specialityImage {
  flex: 1 0 50%;
  img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
  }
}

.specialityDescription {
  padding: 40px;
  color: #FFFFFF;

  h2 {
    font-weight: 800;
    font-size: 24px;
    font-family: 'Ropa Sans', sans-serif;
  }
}

/**
  CATEGORIES
 */
.categories {
}

.categoriesContainer {
  display: flex;
  flex-wrap: wrap;
}

.categoryItem {
  flex: 1 0 33.33333%;
  padding: 20px;
}

.categoryImage {

}

.categoryLink {
  a {
    background-color: #47a8dc;
    color: #fff;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-weight: 700;
    text-transform: uppercase;
  }
}
