@import "../utils/Variables.scss";

.inscription {
    padding: 50px 0;

    p {
        margin-bottom: 40px;
    }
}

.customerTypeContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    input {
        display: none;
        &:checked + label {
            background-color: $primary;
            color: white;
        }
    }

    label {
        background-color: #EEE;
        padding: 5px 20px;
        margin-right: 10px;
        color: #666;
        cursor: pointer;
    }
}