$max-width: 600px;

.InscriptionDoneContainer {
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FBFBFB;
}

.InscriptionDone {
    box-shadow: 0 0 5px #DDD;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 30px;
    background-color: #FFF;
    max-width: $max-width;

    h1 {
        font-weight: 600;
        font-size: 22px;
        text-align: center;
    }
}

.separator {
    height: 2px;
    background: linear-gradient(to right,#FFF, #EEE, #FFF) ;
    width: 70%;
    margin: 20px 0;
}

.recuperation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    input[type="email"] {
        margin-bottom: 10px;
        width: 300px;
    }
}