.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  form {
    margin-top: 20px;
  }

  label {
    color: #555;
  }

  input {
    min-width: 300px;
  }
}

.actions {
  align-self: flex-start;
  display: flex;
  align-items: center;

  & > * {
    margin-right: 10px;
  }
}

.links {
  font-size: 13px;
}