.modal {
    background: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContent {
    background-color: #FFF;
    padding: 20px;
    box-shadow: 0 0 5px black;
}