@import 'styles/utils/Variables', 'styles/utils/Mixins';

/**
  CARZLOC INFORMATIONS
 */
.agenceInformations {
  display: flex;
  padding: 50px 0;

  h2 {
    font-size: 16px;
    font-weight: 700;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin: 0;
      padding: 10px 0;
      border-bottom: 1px solid #f5f5f5;

      a {
        color: #000;
        text-decoration: none;
        @extend .animate;

        &:hover {
          color: $primary;
        }
      }

      &::before {
        content: "\f105";
        font-family: "Font Awesome 5 Free", sans-serif;
        font-weight: 900;
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
}

.agenceHistory {
  flex: 1 1 40%;
  padding: 0 20px;

  p {
    line-height: 20px;
  }
}

.agenceNemours {
  flex: 1 1 30%;
  padding: 0 20px;
}

.agenceMontargis {
  flex: 1 1 30%;
  padding: 0 20px;
}

/**
  RENTAL OPTIONS
 */
.rentalOptions {
  display: flex;
}

.rentalOptionsImage {
  flex: 1 0 50%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.rentalOptionsDescription {
  flex: 1 0 50%;
  background-color: #1e729f;
  color: #fff;
  padding: 40px;
}

/**
  CHOICE
 */
.carzlocChoice {
  display: flex;
}

.carzlocChoiceDescription {
  flex: 1 0 50%;
  padding: 20px;
}

.carzlocChoiceImage {
  flex: 1 0 50%;
  padding: 20px;

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    flex-wrap: wrap;

    li {
      margin-top: 10px;

      a {
        background-color: #47a8dc;
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 5px 20px;
        font-size: 13px;
        text-transform: uppercase;
        @extend .animate;
      }
    }
  }
}