.ourSales {
  display: flex;
  align-items: center;
  padding: 40px 0;
}

.ourSalesDescription {
  flex: 1 0 50%;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;


  ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      display: block;
      margin: 10px;
      padding: 4px 8px;
      background-color: #47a8dc;
      color: #fff;
      font-size: 12px;
      text-transform: uppercase;
    }
  }

  a {
    background-color: #47a8dc;
    display: block;
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 14px;
  }
}

.ourSalesImage {
  flex: 1 0 50%;
}