@import "../utils/Variables";

.notFoundContainer {
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #444444;
}

.notFoundIcon {
  font-size: 200px;
}

.notFoundCode {
  font-size: 50px;
}

.notFoundLabel {
  margin: 0;
  font-weight: 400;
}

.linkToHome {
  display: inline-block;
  margin-top: 20px;
  color: $primary;
}
