.pageHeader {
  background-size: cover;
  background-position: 100%;
  background-color: rgba(0, 0, 0, .3);
  background-blend-mode: multiply;
}

.pageHeaderContainer {
  min-height: 350px;
  display: flex;
  align-items: center;
  h1 {
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    margin: 0;
    font-size: 36px;
    color: #fff;
    font-weight: 700;
    text-shadow: 1px 1px 1px #000;
  }
}