@import "../utils/Variables";

.sectionTitle {
  border-bottom: #f5f5f5 solid 2px;

  h2 {
    font-family: 'Ropa Sans', sans-serif;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 400;
    text-align: center;

    span {
      color: $primaryLight;
    }
  }
}

.isBigSpan {
  span {
    font-size: 130%;
  }
}