.vehicle {
  display: flex;
  padding: 30px 0;
}

.carLeft {
  flex: 1 1 0;
  min-width: 55%;
}

.carInformations {

}

.alertMessage {
  margin-top: 30px;
}

.carBooking {
  margin-top: 30px;

  label {
    color: #666;
  }
}

.carAbstract {
  flex: 1 1 0;
  padding-left: 60px;
}

.carName {
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.carExcerpt {
  font-size: 14px;
  text-align: justify;
  color: #666;
}

.carCategories {
  margin-top: 10px;

  a {
    color: #1e729f;
    text-decoration: none;
    font-size: 14px;
    display: inline;
    margin-right: 10px
  }
}

.carBail {
  color: #dc3545;
  font-size: 16px;
  font-weight: 700;
  margin: 15px 0;
}

.carCharacteristics {
  margin-top: 40px;
}

.lightBackground {
  background-color: #f8f7f7;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 30px;

  h2 {
    margin-top: 0;
    margin-bottom: 5px;
    color: #1e729f;
    font-weight: 600;
    font-size: 16px
  }
}

.attributes {
  list-style: none;
  margin: 0;
  padding: 5px 0 0;
  display: flex;
  flex-wrap: wrap;

  li {
    width: 50%;
    font-size: 14px;
    margin-bottom: 10px;
    color: #666;
    span {
      margin-right: 5px;
    }
  }
}

.attributeValue {
  font-weight: 700;
}

.price {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #666;
  border-bottom: 1px solid #eee;
  padding: 5px 0;
}

.options {
  padding-top: 5px;
}

.option {
  display: flex;
  font-size: 14px;
  color: #666;
  border-bottom: 1px solid #eee;
  padding: 5px 0;
}

.optionLabel {
  margin-left: 10px;
}

.optionPrice {
  margin-left: auto
}

.carDescription {
  margin-top: 20px;
  color: #666;
  font-size: 14px;
  text-align: justify;
}
