@import "../styles/utils/Variables";

.btn {
  border: none;
  padding: 5px 20px;
  color: #333;
  cursor: pointer;
  border: #BBB solid 2px;

  &.btn-primary {
    background-color: $primary;
    color: white;
    border: $primaryDark solid 2px;
  }

  &:disabled {
    cursor: not-allowed;
    color: #AAA;
    background-color: lightgrey;
    border-color: #BBB;
  }
}