@import 'utils/Variables', 'utils/Mixins';

.footer {
  background-color: #232628;

  .footerContainer {
    display: flex;
    font-size: 13px;
    color: #FFFFFF;

    h3 {
      font-size: 14px;
      color: #68B6E2;
      font-weight: bold;
      font-family: "Montserrat", sans-serif
    }

    & > div {
      padding: 20px 30px 20px 0;
    }

    .carzlocInformations {
      flex: 1 1 30%;
    }

    .carzlocOffers {
      flex: 1 1 25%;
    }

    .carzlocNavigations {
      flex: 1 1 20%;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          a {
            display: block;
            padding: 5px 0;
            border-bottom: grey solid 1px;
            @extend .animate;

            &:hover {
              color: $primaryLight;
            }
          }
        }
      }
    }

    .carzlocFacebook {
      flex: 1 1 25%;
    }
  }

  .footerCopyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: rgba(255, 255, 255, 0.2) solid 1px;
    padding: 15px 0;
    font-size: 13px;
    color: #888888;

    .conception {
      .text-white {
        color: #FFFFFF;
      }

      .agency {
        font-style: italic;
        color: #519cff;
      }
    }
  }
}
