@import "../styles/utils/Mixins";

.form-group {
  margin-bottom: 1rem;

  label {
    display: block;
    margin-bottom: .5rem;
  }

}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;

  &:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%)
  }

  &.has-error {
    border-color: red;
    box-shadow: 0 0 0 0.2rem rgb(255 0 0 / 25%)
  }

  &:disabled, &:read-only {
    background-color: #ced4da;
    cursor: not-allowed;
  }

}

textarea.form-control {
  resize: none;
  height: 250px;
}

label.switch {
  cursor: pointer;

  input[type=checkbox] {
    display: none;

    &:checked + span {
      background-color: #2471a3;

      &:before {
        @include browserCss(transform, translateX(14px));
      }
    }
  }

  span.switch-content {
    margin-left: 5px;
    background-color: #ddd;
    display: inline-flex;
    align-items: center;
    padding: 3px;
    border-radius: 15px;
    width: 35px;
    height: 19px;

    &:before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      background-color: #fff;
      border-radius: 50%;
      @include browserCss(transition, all ease 200ms);
    }
  }
}
