.pointer {
    cursor: pointer;
  }
  
  .bold {
    font-weight: 600;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-primary {
    color: $primary;
  }
  
  .text-danger {
    color: red;
  }

  .d-none {
      display: none;
  }
  
  img {
    max-width: 100%;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
  
  p {
    text-align: justify;
  }