@import "./utils/Mixins.scss", "./utils/Variables.scss";

.home-slide {
    .slide {
        h1 {
            @include browserCss(transition, all 0.3s ease);
            @include browserCss(transform, translateY(-20px));
            opacity: 0;
            text-shadow: 0 1px 3px black;
        }

        h3 {
            font-size: 24px;
            line-height: 24px;
            color: white;
            margin: 0;
            font-weight: 600;
            opacity: 0;
            @include browserCss(transition, all 0.3s ease);
            @include browserCss(transform, translateY(-20px));
        }

        button {
            @include browserCss(transition, all 0.3s ease);
            @include browserCss(transform, translateY(20px));
            opacity: 0;
        }

        .inner {
            opacity: 0;
            @include browserCss(transition, all 1s ease);
        }
    }

    .slide.animateIn.previous h1,
    .slide.current h1,
    .slide.animateIn.next h1,
    .slide.animateIn.previous button,
    .slide.current button,
    .slide.animateIn.next button,
    .slide.animateIn.previous h3,
    .slide.current h3,
    .slide.animateIn.next h3,
    .slide.animateIn.previous .inner,
    .slide.current .inner,
    .slide.animateIn.next .inner {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition-delay: 1.5s;
        transition-delay: 1.5s;
        opacity: 1;
    }

    .slide.animateIn.previous button,
    .slide.animateIn.next button {
        -webkit-transition-delay: 1.3s;
        transition-delay: 1.3s;
    }

    .slide.animateOut h1 {
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }

    * {
        outline: none;
    }

    button {
        -webkit-appearance: none;
        appearance: none;
        border: none;
        background: transparent;
        border-radius: 30px;
        border: white solid 1px;
        text-transform: uppercase;
        box-sizing: border-box;
        padding: 15px 40px;
        font-weight: bold;
        font-size: 13px;
        cursor: pointer;
        color: white;
        @include browserCss(transition, all ease 1s);
    }

    button:hover {
        color: $primaryDark;
        background: white;
        padding: 15px 50px;
    }

    .wrapper {
        max-width: 1335px;
        box-sizing: border-box;
        padding: 0 20px;
        margin: auto;
    }

    .wrapper a {
        display: inline-block;
        margin: 5px;
    }

    .wrapper a:first-child {
        margin-left: 0;
    }

    .slider-wrapper {
        position: relative;
        height: 70vh;
        overflow: hidden;
    }

    .slide {
        height: 70vh;
        background-size: cover !important;
    }

    .slide::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5));
        background: -webkit-linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5));
        background: -moz-linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5));
        background: -o-linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5));
        bottom: 0;
        left: 0;
    }

    .previousButton,
    .nextButton {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        background: url("../public/images/icon/right-arrow.webp") no-repeat center center / 20px;
        width: 32px;
        height: 32px;
        text-indent: -9999px;
        cursor: pointer;
        @include browserCss(transition, all ease 200ms);
    }

    .previousButton:hover,
    .nextButton:hover {
        background: url("../public/images/icon/right-arrow.webp") no-repeat center center / 20px;
    }

    .previousButton {
        left: 10px;
        -webkit-transform: rotate(180deg) translateY(calc(50% + 0px));
        transform: rotate(180deg) translateY(calc(50% + 0px));
    }

    .previousButton:hover {
        left: 0;
    }

    .nextButton {
        right: 10px;
    }

    .nextButton:hover {
        right: 0;
    }

    .slider-content {
        text-align: center;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .slider-content .inner {
        width: 350px;
        height: 350px;
        background: linear-gradient(top left, $primary, $primaryDark);
        box-shadow: 0 0 3px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
        padding: 0 30px;
    }

    .slider-content .inner button {
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }

    .slider-content .inner h1 {
        font-weight: 900;
        margin: 20px auto;
        max-width: 840px;
        color: #ffffff;
        font-size: 50px;
        line-height: 1;
    }

    @media (max-height: 500px) {
        .slider-wrapper,
        .slide {
            height: calc(100vh - 75px);
        }
    }

    @media (max-width: 640px) {
        .slider-wrapper,
        .slide {
            height: calc(80vh - 75px);
        }
    }

    @media (max-height: 600px) {
        .slider-content .inner h1 {
            font-size: 32px;
        }
    }

    @media (max-width: 640px) {
        .slider-content .inner h1 {
            font-size: 32px;
        }
    }
}
