@import "utils/Variables";

html,
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.row {
  display: flex;

  .column {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 20px;
  }
}

@import "helpers";
@import "footer";
@import "forms";
@import "buttons";
@import "custom";
@import "slider";